.stats-card{
background:linear-gradient(135deg,#2563eb,#1d4ed8);
color:white;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.15);
transition:.3s;
}

.stats-card:hover{
transform:translateY(-5px);
}

.stats-card h2{
font-size:32px;
margin-top:10px;
}