:root{

  --bg:#F8F6F2;
  --surface:#FFFFFF;

  --primary:#111111;
  --secondary:#666666;

  --accent:#C89B3C;

  --border:#E7E1D7;

  --shadow:0 10px 30px rgba(0,0,0,.08);

  --radius:22px;

  --transition:.35s;

  --max-width:1400px;

}